{% extends 'base.html.twig'%}
{% block body %}
<article>
<h2>Guerre en Ukraine, en direct : Joe Biden annonce le renforcement de la présence militaire américaine en Europe</h2>
<div class ="metadata"> ecrit le 29/06/2022 </div>

<div class ="content"> 
<img class="image" style= "width: 20px, height: 30px;" src="https://img.lemde.fr/2022/06/29/759/0/4549/2274/1600/800/60/0/d1573cb_1656493463204-565915.jpg" >
<p> Joe Biden, le président des Etats-Unis, a annoncé la présence renforcée de militaires et de capacités étatsuniennes en Espagne, en Pologne, en Roumanie, dans les Etats baltes, au Royaume-Uni, en Allemagne et en Italie, lors du sommet de l’Alliance militaire, « qui marque l’histoire », selon lui.

Joe Biden a rappelé, mercredi, à Madrid, que les Etats-Unis avaient déjà déployé, cette année, « vingt mille militaires supplémentaires en Europe (…) en réponse aux initiatives agressives de la Russie », ce qui porte déjà à plus de cent mille le nombre d’Américains stationnés sur le continent.

Mais il n’a pas précisé ce que les renforcements annoncés représenteraient globalement en termes d’effectifs. Le détail a uniquement été communiqué par Washington pour l’Allemagne (625 hommes ou femmes) et l’Italie (65).

M. Biden a annoncé que les Etats-Unis porteraient de quatre à six le nombre de leurs destroyers sur la base navale de Rota, en Espagne.

La première puissance mondiale établira, par ailleurs, en Pologne, « un quartier général permanent du 5e corps d’armée américain ». Il s’agira, a précisé le Pentagone, de la première présence américaine permanente sur le « flanc oriental » de l’OTAN.</p>
<hr>
<p>Les Etats-Unis renforcent leur présence militaire en Europe
Joe Biden, le président des Etats-Unis, a annoncé la présence renforcée de militaires et de capacités étatsuniennes en Espagne, en Pologne, en Roumanie, dans les Etats baltes, au Royaume-Uni, en Allemagne et en Italie, lors du sommet de l’Alliance militaire, « qui marque l’histoire », selon lui.

Joe Biden a rappelé, mercredi, à Madrid, que les Etats-Unis avaient déjà déployé, cette année, « vingt mille militaires supplémentaires en Europe (…) en réponse aux initiatives agressives de la Russie », ce qui porte déjà à plus de cent mille le nombre d’Américains stationnés sur le continent.

Mais il n’a pas précisé ce que les renforcements annoncés représenteraient globalement en termes d’effectifs. Le détail a uniquement été communiqué par Washington pour l’Allemagne (625 hommes ou femmes) et l’Italie (65).

M. Biden a annoncé que les Etats-Unis porteraient de quatre à six le nombre de leurs destroyers sur la base navale de Rota, en Espagne.

La première puissance mondiale établira, par ailleurs, en Pologne, « un quartier général permanent du 5e corps d’armée américain ». Il s’agira, a précisé le Pentagone, de la première présence américaine permanente sur le « flanc oriental » de l’OTAN.

« Nous allons maintenir une brigade supplémentaire », composée au total de cinq mille personnes, qui sera basée en Roumanie, a également déclaré Joe Biden.

Il a, en outre, annoncé des « déploiements supplémentaires dans les Etats baltes », le Pentagone précisant que cela concernerait aussi bien l’artillerie, l’aviation, la défense antiaérienne que la présence de troupes d’élite. Aux portes de la Russie, les Etats-Unis promettent aussi d’« intensifier les exercices avec leurs alliés » baltes, selon un communiqué du Pentagone.</p>
</div>
</article>
{% endblock %}